---
layout: default
---

<section class="single">
  <div class="wrap">
    <h1>{{ page.title }}</h1>

    <div class="date-wrap">
      <div class="meta">등록일: {{ page.updatedat | date: "%Y-%m-%d" }}</div>
      <div class="meta">수정일: {{ page.updatedat | date: "%Y-%m-%d" }}</div>
    </div>

    {{ page.content }}

    <div>
      <hr>
      <p>
        자바스크립트로 직접 만들면서 배우는 - <a
          href="https://www.codesoom.com/courses/dsa?utm_source=yunseok_dev_blog&utm_medium=blog&utm_campaign=post&utm_content={{page.id}}"
          target="_blank">자료구조와 알고리즘 강의 바로 가기</a>
        <br>
        실습으로 마스터하는 OAuth 2.0: 기본부터 보안 위험까지 - <a
          href="https://inf.run/VkRG5"
          target="_blank">OAuth 2.0 강의 바로 가기</a>
        <br>
        기계인간 이종립, 소프트웨어 개발의 지혜 - <a
          href="https://www.codesoom.com/courses/git?utm_source=yunseok_dev_blog&utm_medium=blog&utm_campaign=post&utm_content={{page.id}}"
          target="_blank">Git 강의 바로 가기</a>
      </p>

      <p>
        코드숨에서 매주 스터디를 진행하고 있습니다. 메일을 등록하시면 새로운 스터디가 시작될 때 알려드릴게요!
      </p>

      <div class="newsletter">
        <script async data-uid="ede0bdb087" src="https://yunseok-han.ck.page/ede0bdb087/index.js"></script>
      </div>
    </div>
  </div>

  {% include comment.html %}
</section>